<div class="candidatures-container">
  <div class="view-container">
    <div 
      class="view pfe-view"
      [class.active]="activeSection() === 'pfe'">
      <app-rh-candidatures-pfe
        *ngIf="activeSection() === 'pfe'"
        [candidatures]="candidatures"
        [stats]="stats()"
        (candidaturesLoaded)="onCandidaturesLoaded()">
      </app-rh-candidatures-pfe>
    </div>

    <div 
      class="view stages-view"
      [class.active]="activeSection() === 'stages'">
      <app-rh-candidatures-stages
        *ngIf="activeSection() === 'stages'"
        [candidatures]="candidatures"
        [stats]="stats()"
        (candidaturesLoaded)="onCandidaturesLoaded()">
      </app-rh-candidatures-stages>
    </div>
  </div>
</div>
